<div class= "container">
<div class="card" style="background-image: url('https://img.freepik.com/premium-photo/beautiful-background-blur-image-with-raindrops-foreground_465502-4221.jpg?w=826');">
<p style="background-color: grey"><%=@module_data%> </p>
    </div>
    
</div>
<%= render partial: 'products/product', collection: @products %>

<%#= render partial: 'products/product', locals: { product: @product } %>

 